section.contacts
    ul
        - each link in data.contacts.links
            li: a.me_ext(href=link.href,rel="external")= link.label

section.writing
    h2= data.writing.title
    ul
        - each link in data.writing.links
            li
                a.me(href=link.href, rel="external")= link.label
                span.data= link.meta

section.projects
    h2 Projects

    ul
        - each item in data.projects.items
            li: div
                h3
                    a.me(href=item.href, rel="external")= item.label
                    span= item.tools
                span= item.date
                p= item.description
                dl
                    - if (item.credits) {
                        - each credit in item.credits
                            dt= credit.type
                            dd: a.ext(href=credit.href, rel="external")= credit.label
                    - }

section.tools
    h2= data.tools.title
    ul
        - each item in data.tools.items
            li: div
                h3
                    a.ext(href=item.href, rel="external")= item.label
                    span= item.meta
                p= item.description