include ../contacts

section.writing
    h2= data.articles.title

    ul
        - each item in data.articles.items
            li
                a.me(href='/articles/#{item.href}')= item.label
                span.data= item.meta
                p= item.abstract

section.writing
    h2= data.writing.title

    ul
        - each link in data.writing.links
            li
                a.me(href=link.href, rel="external")= link.label
                span.data= link.meta
